#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input{
  padding: 10px;
}

select{
  padding: 10px;
}

.main-convert{
  display: flex;
  flex-direction: column;
  gap: 20px;
}